# Ignorar bases de datos pesadas del INEI (se descargan con el script)
*.dta
*.zip
Descargas_INEI_ZIP/
973-Modulo*/
Resultados/
*.log
*.do.stswp

paper.pdf
plantilla.pdf

# Archivos auxiliares de compilación LaTeX
*.aux
*.out
*.synctex.gz
*.bbl
*.blg
*.toc
*.fls
*.fdb_latexmk